html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Bebas_Neue\,Kavoon\,Moul\,Poppins/Poppins/Poppins-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Moul';
    src: url(../fonts/Bebas_Neue\,Kavoon\,Moul\,Poppins/Moul/Moul-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Kavoon;
    src: url(../fonts/Bebas_Neue\,Kavoon\,Moul\,Poppins/Kavoon/Kavoon-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Bebas;
    src: url(../fonts/Bebas_Neue\,Kavoon\,Moul\,Poppins/Bebas_Neue/BebasNeue-Regular.ttf) format('truetype');
}

body{
    margin: 0;
    font-family: 'Poppins';
}

header{
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

nav{
    display: flex;
    margin-left: 250px;
}

nav ul{
    font-weight: 600;
    color: rgb(255, 255, 255);
    align-items: center;
    margin-left: 100px;
    display: flex;
    gap: 100px;
    list-style: none;
}

.btn-nav{
    display: inline-block;
    transition: 0.3s ease;
    text-decoration: none;
    color: white;
}

.btn-nav:hover {
    transform: scale(1.08);
    color: #dfdddd;
}

.logo-header{
    margin-left: 50px;
    width: 200px;
    height: auto;
}

#header-insta:hover{
    background: #dfdddd;
    border: #dfdddd;
    transform: scale(1.08);
}

#header-insta{
    padding: 8px 8px;
    margin-left: 55px;
    margin-top: 30px;
    width: 35px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 25px;
    background-color: white;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-left: 10%;
    padding: 190px 110px;
    

}

.hero-img img{
    width: 800px;
    display: block;
}

.hero-text{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}

.hero-text h1{
    font-size: 50px;
}

.hero-text h2{
    font-size: 25px;
}

#btn-agendar{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: solid 1px #A10E0E;
    padding: 20px 12px;
    background-color: #A10E0E;
    border-radius: 12px;
    width: fit-content;
    font-weight:bold;
    display: inline-block;
    transition: 0.3s ease;
}

#btn-agendar:hover{
    color: #dfdddd;
    transform: scale(1.08);
}

.hero{
    background-color: black;
    
}

.sobre{
    padding: 35px 35px;
}

#title-sobre{
    font-size: 80px;
    font-family: Moul;
}

.frase-sobre{
    border-left: 3px solid #A10E0E;
    margin-bottom: 30px;
    padding-left: 15px;
}

.bloco-sup{
    display: flex;
    flex-direction: column;
    padding-left: 200px; 
}

.bloco-meio{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    margin-top: 95px;
}

.bloco-meio ul{
    list-style: none;
}

.bloco-meio li{
    font-size: 22px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
}

.sobre-img img{
    width: 500px;
    height: auto;
}

.bloco-meio ul img{
    color: #A10E0E;
}

#bem-vindo{
    display: flex;
    justify-content: center;
    font-family: Moul;
    color: #A10E0E;
    padding-top: 8rem;
}

.lista-servicos-check{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.lista-servicos-check ul{
    font-family: Poppins;
    list-style: none;
    color: black;
}

.lista-servicos-check li{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 15px;
}

.animar-baixo{
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(120px);
}

.animar-baixo.ativo{
    opacity: 1;
    transform: translateY(0);  
}

.animar-esquerda,
.animar-direita {
    opacity: 0;
    transition: all 0.8s ease;
}

.animar-esquerda {
    transform: translateX(-80px);
}

.animar-direita {
    transform: translateX(80px);
}

.animar-esquerda.ativo,
.animar-direita.ativo {
    opacity: 1;
    transform: translateX(0);
}

.animar-fade{
    opacity: 0;
    transition: all 2.0s ease;
}

.animar-fade.ativo{
    opacity: 1;
    transform: translateX(0);
}

.bloco-inf{
    display: flex;
    justify-content: space-evenly;
    padding: 200px 0px;
}

.bloco-inf img{
    transition: transform 2.8s cubic-bezier(0.22, 1, 0.36, 1);
}

.bloco-inf img:hover{
    transform: scale(1.04);
}

.historia-barbearia{
    display: flex;
    flex-direction: column;
}

.historia-barbearia h3{
    color: #A10E0E;
    font-family: Poppins;
    font-weight:bolder;
}

.bloco-inf p{
    max-width: 700px;
    font-size: 17px;
    padding-bottom: 3rem;
}

.servicos{
    background-color: black;
    padding: 125px 0px;
}

.servicos-text{
    display: flex;
    justify-content: space-evenly;

}

.servicos-text h1{
    color: white;
    font-family: Moul;
    font-size: 60px;
}

#letra{
    font-size: 65px;
    font-family: Kavoon;
}


.servicos-text img{
    width: 400px;
}

.frase-servicos p{
    color: white;
    display: flex;
    padding: 150px 0;
    font-size: 20px;
    justify-content: center;
}

.card-sup{
    display: flex;
    justify-content: center;
    gap: 120px;
}

.card-1{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    padding: 15px 0px;
}

.card-topo1{
    background-color: #A10E0E;
    margin-top: -20px;
}

.card-topo1 h3{
    font-family: Moul;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.card-topo1 p{
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    margin-top: -2rem;
    display: flex;
    justify-content: center;
}

.rs-1{
    font-family: Bebas;
    font-size: 30px;
    margin-top: 40px;
}

.valor-1{
    font-family: Bebas;
    font-size: 80px;

}

.centavos-1{
    font-family: Bebas;
    font-size: 30px;
    margin-top: 40px;
}

.preco-1{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-1 ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    margin-left: -1.5rem;
}

.card-1 li{
    color: rgb(0, 0, 0);
    width: 100%;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.check-1 img{
    width: 15px;
    margin-right: 5px;
}

.agendar-corte{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-weight: 800;
    border: 1px solid #A10E0E;
    background-color: #A10E0E;
    border-radius: 6px;
    padding: 5px;
    margin: 50px 75px;
    transition: 0.3s;
}

.agendar-corte:hover{
    transform: scale(1.08);
}

.card-2{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    padding: 15px 0px;
}

.card-topo2{
    background-color: #A10E0E;
    margin-top: -20px;
}

.card-topo2 h3{
    font-family: Moul;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.card-topo2 p{
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: -2rem;
}

.rs-2{
    font-family: Bebas;
    font-size: 30px;
    margin-top: 40px;
}

.valor-2{
    font-family: Bebas;
    font-size: 80px;

}

.centavos-2{
    font-family: Bebas;
    font-size: 30px;
    margin-top: 40px;
}

.preco-2{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-2 ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    margin-left: -1.5rem;
}

.card-2 li{
    color: rgb(0, 0, 0);
    width: 100%;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.check-2 img{
    width: 15px;
    margin-right: 5px;
}

.agendar-barba{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-weight: 800;
    border: 1px solid #A10E0E;
    background-color: #A10E0E;
    border-radius: 6px;
    padding: 5px;
    margin: 50px 75px;
    transition: 0.3s;
}

.agendar-barba:hover{
    transform: scale(1.08);
}

.card-3{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    padding: 15px 0px;
}

.card-3 ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    padding-left: 0;
    margin-left: 0;
}

.card-3 li{
    color: rgb(0, 0, 0);
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.card-topo3{
    background-color: #A10E0E;
    margin-top: -20px;
}

.card-topo3 h3{
    font-family: Moul;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.card-topo3 p{
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: -2rem;
}

.conteudo-3{
    padding-left: 15px;
}

.check-3 img{
    width: 15px;
    margin-right: 10px;
}

.agendar-cortebarba{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-weight: 800;
    border: 1px solid #A10E0E;
    background-color: #A10E0E;
    border-radius: 6px;
    padding: 5px;
    margin: 50px 75px;
    transition: 0.3s;
    margin-top: 0;
}

.agendar-cortebarba:hover{
    transform: scale(1.08);
}

.rs-3{
    font-family: Bebas;
    font-size: 30px;
    margin-top: 40px;
}

.valor-3{
    font-family: Bebas;
    font-size: 80px;

}

.centavos-3{
    font-family: Bebas;
    font-size: 30px;
    margin-top: 40px;
}

.preco-3{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -35px;
    margin-bottom: -60px;
}

.card-inf{
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-top: 160px;
}

.card-4{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    padding: 15px 0px;
}

.card-topo4{
    background-color: #A10E0E;
    margin-top: -20px;
}

.card-topo4 h3{
    font-family: Moul;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.card-topo4 p{
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: -2rem;
}

.rs-4{
    font-family: Bebas;
    font-size: 30px;
    margin-top: 40px;
}

.valor-4{
    font-family: Bebas;
    font-size: 80px;

}

.centavos-4{
    font-family: Bebas;
    font-size: 30px;
    margin-top: 40px;
}

.preco-4{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-4 ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    margin-left: -1.5rem;
    margin-top: -1rem;
}

.card-4 li{
    color: rgb(0, 0, 0);
    width: 100%;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.check-4 img{
    width: 15px;
    margin-right: 5px;
}

.agendar-progressiva{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-weight: 800;
    border: 1px solid #A10E0E;
    background-color: #A10E0E;
    border-radius: 6px;
    padding: 5px;
    margin: 50px 75px;
    transition: 0.3s;
}

.agendar-progressiva:hover{
    transform: scale(1.08);
}

.card-5{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    padding: 15px 0px;
}

.card-topo5{
    background-color: #A10E0E;
    margin-top: -20px;
}

.card-topo5 h3{
    font-family: Moul;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.card-topo5 p{
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: -2rem;
}

.rs-5{
    font-family: Bebas;
    font-size: 30px;
    margin-top: 40px;
}

.valor-5{
    font-family: Bebas;
    font-size: 80px;

}

.centavos-5{
    font-family: Bebas;
    font-size: 30px;
    margin-top: 40px;
}

.preco-5{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-5 ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    margin-left: -1.5rem;
    margin-top: -1rem;
}

.card-5 li{
    color: rgb(0, 0, 0);
    width: 100%;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.check-5 img{
    width: 15px;
    margin-right: 5px;
}

.agendar-luzes{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Poppins;
    font-weight: 800;
    border: 1px solid #A10E0E;
    background-color: #A10E0E;
    border-radius: 6px;
    padding: 5px;
    margin: 50px 75px;
    transition: 0.3s;
}

.agendar-luzes:hover{
    transform: scale(1.08);
}

.titulo-contato{
    font-family: Moul;
    font-size: 17px;
}

.frase-contato{
    font-size: 17px;
}

.conteudo-contato{
    flex-direction: column;
    padding: 150px 100px;
}

.conteudo-page{
    display: flex;
    justify-content: space-evenly;
}

.conteudo-page iframe{
    display: flex;
    padding-top: 200px;
}

.endereco-contato{
    display: flex;
    gap: 15px;
    
}

.endereco-contato p{
    font-size: 17px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

#icon-map{
    width: 40px;
}

.tel-contato{
    display: flex;
    gap: 15px;   
}

.tel-contato p{
    font-size: 17px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    padding-right: 20.5rem;
}

#icon-wpp {
    width: 35px;
}

.insta-contato{
    display: flex;
    gap: 15px;   
}

.insta-contato p{
    font-size: 17px;
    border-bottom: 2px solid black;
    padding-right: 15rem;
    padding-bottom: 15px;
}

#icon-insta {
    width: 40px;
}

.logo-frase{
    display: flex;
    justify-content: space-evenly;
}

.logo-frase h3 {
    color: #ffffff;
    font-size: 25px;
}

#logo-footer{
    width: 300px;
}

.hr-funcionamento{
    display: flex;
    justify-content: space-evenly;
    font-family: Moul;
    margin-top: 80px;
    color: #A10E0E;
}
.footer-inferior {
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
}

.juncao {
    text-align: left;
}

.footer-content{
    background-color: black;
    padding: 45px 0;
}

.dias {
    display: flex;
    font-weight: bold;
    gap: 90px;
}

.hrs{
    display: flex;
    gap: 90px;
}

.info-footer{
    margin-left: 20px;
}

.footer-bottom{
    background-color: #404040;
    color: white;
    padding: 10px;   
}

.footer-bottom{
    display: flex;
    justify-content: center;
}

.mapBox{
    width: 600px;
    height: 500px;
    background-color: #ffffff;
}

.mapBox iframe{
    width: 100%;
    height: 100%;
}